<phpunit
    bootstrap="tests/bootstrap.php"
    colors="auto"
    >
    <php>
        <env name="SHOPRUNBACK_URL" value="https://sandbox.dashboard.shoprunback.com"/>
        <env name="SHOPRUNBACK_TOKEN" value="1yHRJJFgzU4McVsuicLNbtm5sPpYeEW2eCpt5-awiWRx7218wg"/>
    </php>
    <testsuites>
        <testsuite name="shoprunback">
            <directory>tests/ShoprunbackTest.php</directory>
        </testsuite>
        <testsuite name="nested">
            <directory suffix="Test.php">tests/Elements/Nested</directory>
        </testsuite>
        <testsuite name="mocker">
            <directory suffix="Test.php">tests/Elements/Mocker</directory>
        </testsuite>
        <testsuite name="api">
            <directory suffix="Test.php">tests/Elements/Api</directory>
        </testsuite>
    </testsuites>
</phpunit>